.env
.elasticbeanstalk/app_versions
.elasticbeanstalk/saved_configs
docker-compose.override.yml
data/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
