commands:
  docker_access_for_ec2_user:
    command: usermod -aG docker ec2-user

files:
  # (mat) Looks like aws linux puts docker completions one dir too high, so linking it up via bash_completion.d
  "/etc/bash_completion.d/docker.bash":
    mode: "000644"
    owner: root
    group: root
    content: |
      . $(pkg-config --variable=completionsdir bash-completion)/../docker

