packages:
  yum:
    postgresql: []

files:
  "/etc/profile.d/z_psql.sh":
    content: |
      source /var/app/current/.env

      export PGHOST="$(echo "${GF_DATABASE_HOST}" | cut -d: -f1)"
      export PGPORT=5432
      export PGDATABASE=metabase
      export PGUSER=metabase
      export PGOPTIONS=--search_path=public,postgis

      cat > ~/.pgpass <<EOF
      ${PGHOST}:${PGPORT}:${PGDATABASE}:${PGUSER}:${GF_DATABASE_PASSWORD}
      EOF
      chmod 600 ~/.pgpass
